
.button {

    -fx-background-color: blue;
    -fx-text-fill: white;

}




 #title {
    -fx-font-size: 30pt;
    -fx-text-fill: white;

}

.label {

    -fx-text-fill: white;

}


#pane {
    -fx-background-color: black;
}



